/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

*/



body {
  background: url(disc_golf_img_1.jpg) black no-repeat fixed;
  background-size: cover;

}

p {
  margin: 0px;
}

.container {
  background-color: rgb(10, 50, 90);
}


/*form on course show page*/

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: rgb(20, 30, 30);
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

table thead th,
table thead td,
table tfoot th,
table tfoot td {
  text-align: center;
}


/*React DateTime*/

.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

/*back to foundation*/

/*top nav bar*/
.the-top {
  background-color: rgb(255, 235, 200);
  padding: 8px 0px;
  height: 40px;
}

.the-top-left {
  background-color: rgb(255, 235, 200);
  padding: 0px;
  padding-left: 10px;
  font-size: 20px;
}

.the-top-right {
  background-color: rgb(255, 235, 200);
  padding: 0px;
  text-align: right;
}

.signed-in {
  padding: 0px;
  padding-right: 5px;
}

/*new user*/
.new-user {
  background-color: rgb(255, 235, 200)
}

.second-level {
  padding: 10px;
}

.radio-buttons {

}


/*edit user*/
.edit-user {
  background-color: rgb(255, 235, 200)
  padding: 10px;
}




/*home page*/

.home-bottom {
}

.app {
  margin: 0 30px;
}

.chat-button {
  min-width: 100px;
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  padding: 10px 0px;
  margin-top: 10px;
  text-align: center;
  max-height: 50px;
  display: inline-block;
}

.chat-link {

}

.searchbar {
  padding: 0px 40px;
  margin: 20px 0px 10px 0px;
}

.course-section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 auto;
  text-align: center;
}

.courseTile {
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  max-width: 420px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  align-content: center;
}

.picture {
  padding: 0px;
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

img {
  size: cover;
}

.non-picture {
  padding: 0px;
}

.course-tile-name {
  font-size: 30px;
}

.course-tile-address {
  font-size: 20px;
}

.google-map {

}

#map {
  width: 300px;
  height: 300px;
  background-color: grey;
}



/*course show page*/

.home-link {
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  padding: 10px 0px;
  margin: 10px 0px;
  text-align: center;
  width: 120px;
}

.details {
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  margin: 0px 0px;
  border-radius: 10px;
  padding: 10px 10px;
}

.course-show-details {
  padding-left: 10px;
}

.title-map {
  padding: 0px;
}

.google-map {
  padding: 0px;
}

.course-show-photo {
  padding: 0px;
  margin-top: 10px;
}


.bottom-section {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  display: table;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 auto;
}

.pairup-below-button {
  padding: 0px;
  color: black;

}

.events {
  padding: 0px;
  margin: 0 90px;
  margin-top: 8px;
  color: black;
}

.events-1 {
  text-align: center;
}

.translucent-form-overlay {
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #575757;
}

.search-button {
  box-shadow: 3px 3px 3px #888888;
  border-radius: 2px;
}

.pairup-headline {
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  padding: 0px;
  margin: 0px auto;
  width: 300px;
  font-weight: bold;
  color: #575757;
  text-align: center;
}

.pairup-tile {
  background-color: rgba(255, 235, 200, 1.00);
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  margin-bottom: 10;
  margin-left: 0;
  color: #575757;
}

.headliner {
  background-color: rgba(255, 235, 200, 1.00);
  border-radius: 10px;
  padding: 0px;
  font-weight: bold;
  color: #158DB8;
}

.dtdiv {
  padding: 0px 40px;
}

/*chat room*/
.callout-chat {
  min-height: 300px;
  background-color: #e1e1e1;
  border: 2px solid #888888;
  margin: 40px 30px 0px 30px;
  padding: 20px;
}

.text-box {
  background-color: #white;
  border: 2px solid #888888;
  margin: 0px 30px 0px 30px;
  border-top: 0px;
}

input.input-group-field {
  margin: 0px;
}

div.input-group-button {
  margin: 0px 30px;
}
