/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background-color: rgb(230, 230, 235);
}

.top-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-ul {
  display: table-cell;
  margin: 0;
}

.home-top {
  background-color: rgb(60, 170, 170);
  padding: 16px;
}

.home-top-ul {
  font-size: 20px;
  display: table-cell;
  margin: 0;
  width: 160px;
  text-align: center;
}

.home-bottom {
  text-align: center;
  color: rgb(60, 200, 230);
  font-weight: bold;
  min-height: 800px;
  background-image: url('disc2.jpg');
  background-color: rgb(255, 200, 200);
  background-size: cover;
  background-repeat: no-repeat;
}

.course-section {
  text-align: center;
}

.courses-list {
  margin: auto;
  overflow: scroll;
  height: 400px;
  width: 450px;
  background-color: rgb(230, 230, 235);
}

.course-tile-ul {
  display: table-cell;
  margin: 0;
}

.thumbnail {
  height: 60px;
  width: 60px;
}



.field-list {

}

.play-radio {
  text-align: center;
  width: 100px;
  display: table-cell;
}
